@media (max-width: 1000px) {
  .navigate {
    position: absolute;
    right: 50px;
    display: block;
    i {
      margin-top: 15px;
      color: #777777;
      text-decoration: none;
    }
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .profile_box {
    .widget {
      width: 60%;
    }
    .widget_100 {
      width: 100%;
    }
    .users {
      width: 40%;
    }
  }
}
